.el-drawer__header {
    align-items: center;
    color: rgb(114, 118, 123);
    display: flex;
    margin-bottom: 2px;
    padding: var(--el-drawer-padding-primary);
    padding-bottom: 0;
}

.tips {
    font-size: 1.0rem;
    text-align: center;
    color: #b3b6bc;
    /* 黄色： #f7ba2a   淡色：#8a919f*/
    line-height: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

.elTable tr {
    cursor: move;
}